* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  height: 47px;
  /* border: 2px solid; */
}
#logo {
  height: 33px;
  width: 35px;
  margin-right: 10px;
  /* border: 2px solid; */
  text-decoration: none;
}
#logo_container {
  display: flex;
  align-items: center;
}
#Search {
  background-color: #fcc62d;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid;
  transition: all ease-in 0.05s;
}
#Search:hover {
  background-color: white;
  border: 2px solid #fcc62d;
}
#container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e5e5e5;
  border-radius: 5px;
}
#main_image {
  height: 55vh;
  width: 75vw;
  border-radius: 5px;
}
#heading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#trending_coins_container {
  display: flex;
  flex-direction: column;
}

#trending_coin_slideshow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 6px;
  gap: 8px;
  width: 100%;
  /* border: 2px solid red; */
  /* height: 100vh; */
  /* overflow-x: hidden; */
}
#trending_coins_containerr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 150px; */
  gap: 8px;
  background-color: #e5e5e5;
  padding-top: 20px;
  /* border: 2px solid #fcc62d; */
}
#trending_coins_container {
  display: flex;
  /* border: 2px solid; */
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 8px;
}
#trending_coin_image {
  height: 50px;
  width: 50px;
}
#trending_coins_container {
  font-size: medium;
  font-size: medium;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
#coin_info_container {
  text-align: center;
}
.trending_coins_heading {
  font-size: 40px;
  font-weight: bold;
  /* border: 2px solid; */
  margin-bottom: 15px;
  color: #fcc62d;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.footer_container {
  display: flex;
  /* border: 2px solid; */
  justify-content: center;
}
#action_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  gap: 16px;
  /* border: 2px solid; */
  margin-bottom: 16px;
}
#action_container_heading {
  color: #fcc62d;
  font-weight: bold;
  font-size: 30px;
}
input[type="text"] {
  border: 1px solid gray;
  font-size: 1.7rem;
  border-radius: 4px;
}
#search_input_button {
  background-color: #fcc62d;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  /* border: 2px solid; */
  transition: all ease-in 0.05s;
  cursor: pointer;
  padding: 0.25rem 1rem 1.9rem;
  font-size: 1.4rem;
}

#search_input_button:hover {
  background-color: white;
  border: 2px solid #fcc62d;
}
#search_container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
#main_info {
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  height: 3.5rem;
  /* border: 2px solid; */
}
#coins_container_info {
  display: flex;
  /* border: 2px solid; */
  align-items: center;
  width: 80vw;
  height: 2.5rem;
  gap: 16px;
  padding: 1rem;
  /* border: 2px solid red; */
}
#coins_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 26px;
  align-items: center;
}

#trending_coin_image {
  height: 40px;
  width: 40px;
  border-radius: 10%;
}
#coins_container_name {
  /* border: 2px solid; */
  font-size: small;
}
#serial_number,
#coins_container_name {
  /* border: 2px solid red; */
  font-size: medium;
  /* background-color: #fcc62d; */
}
#MoreInfo {
  background-color: #fcc62d;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid;
  transition: all ease-in 0.1s;
}
#MoreInfo:hover {
  transform: scale(1.1);
  border: none;
}
#coin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid; */
  padding-left: 6rem;
  padding-right: 5rem;
}
#coins_price {
  display: flex;
  /* border: 2px solid; */
  justify-content: space-around;
  gap: 16px;
  align-items: center;
  /* width: 50vw; */
  margin-top: 8px;
}

#coin_description {
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
  margin-top: 16px;
  /* text-align: center; */
  align-items: center;
  gap: 16px;
}
